.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 1rem 0;

  &__main {
    font-weight: 600;
    font-size: clamp(1.25rem, 2vw, 2rem);
  }

  &__sub {
    font-size: clamp(1rem, 2.5vw, 1.15rem);
  }

  &__links {
    display: flex;
    gap: 1rem;
    margin: auto;
  }

  &__link {
    @include button-size(1rem);
    background-color: red;
    border-radius: $border-radius;
    color: $grayscale-100;
    font-weight: 500;
    min-width: 8rem;
  }
}
