$brand-primary: #d50083;
$brand-secondary-100: #262626;
$brand-secondary-200: hsl(203, 66%, 95%);
$brand-secondary-300: #d9dde7;
$brand-secondary-400: #0073bc;

$grayscale-100: #ffffff;
$grayscale-200: #e0e0e0;
$grayscale-300: #c0c0c0;
$grayscale-400: #a0a0a0;
$grayscale-500: #808080;
$grayscale-600: #606060;
$grayscale-700: #404040;
$grayscale-800: #202020;
$grayscale-900: #000000;

$state-info: #3498db;
$state-error: #e74c3c;
$state-warning: #f1c40f;
$state-success: #07bc0c;
