@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: black;
  border: 1px solid #e0e0e0;
}

.responsive-width {
  width: min(90%, 44rem);
  margin: auto;
}

.responsive-width-header {
  width: min(90%, 38rem);
  margin: auto;
}

.responsive-width-footer {
  width: fit-content;
  margin: auto;
}

.responsive-width-sitemap {
  width: min(90%, 40rem);
  margin: auto;
  min-height: 70vh;
}

.playergrid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.player {
  border: 1px solid #e0e0e0;
}
.player__headergrid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  font-size: clamp(1rem, 2.5vw, 1.15rem);
  font-weight: 600;
}
.player__table {
  width: 100%;
  border-collapse: collapse;
}
.player__caption {
  font-weight: 700;
  padding: 0.5rem;
  color: #606060;
}
.player__table th {
  text-align: left;
}
.player__table td,
.player th {
  padding: 0.35rem;
  border: 1px solid #e0e0e0;
}
.player--hits {
  background-color: #a8ffb4;
}
.player--nohits {
  background-color: #ffb4a8;
}
@media (min-width: 625px) {
  .player__headergrid {
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(1rem, 2.5vw, 1.25rem);
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 1rem 0;
}
.header__main {
  font-weight: 600;
  font-size: clamp(1.25rem, 2vw, 2rem);
  color: #002d72;
}
.header__sub {
  font-size: clamp(1rem, 2.5vw, 1.15rem);
}
.header__links {
  display: flex;
  gap: 1rem;
  margin: auto;
}
.header__link {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  color: #ffffff;
  font-weight: 500;
  min-width: 8rem;
}
.header--github {
  background-color: #333;
}
.header--venmo {
  background-color: #3d95ce;
}
